* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #eaeaea;
  padding: 30px;
  line-height: 1.8;
}
h1 {
  transform: scale(1.03);
  text-align: center;
  background: linear-gradient(90deg, #ff512f, #dd2476);
  color: white;
  padding: 18px;
  margin-bottom: 25px;
  border: 3px solid gold;
  border-radius: 15px;
  letter-spacing: 1px;
}
h2 {
  background: #1c1f2b;
  color: #00e5ff;
  padding: 12px;
  margin: 30px 0 15px;
  border-left: 6px solid #00e5ff;
  border-radius: 8px;
}
h3 {
  margin: 18px 0 10px;
  padding: 10px 15px;
  border-radius: 8px;
  width: fit-content;
  font-size: 18px;
}
h3:nth-of-type(1),
h3:nth-of-type(2),
h3:nth-of-type(3) {
  background: #2a2a72;
  color: #fddb3a;
  border: 2px solid #fddb3a;
}

audio {
  width: 100%;
  margin: 8px 0;
  padding: 4px;

  border-radius: 100px;
  border: 2px solid #00ffcc;

  background: transparent;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px rgba(0, 255, 204, 0.5);
}
hr {
  margin: 45px 0;
  border: none;
  height: 3px;
  background: linear-gradient(to right, #ff512f, #dd2476);
  border-radius: 5px;
}
h3:nth-of-type(4) {
  background: #3a0ca3;
  color: #ffffff;
  border: 2px solid #f72585;
}
h3:nth-of-type(5) {
  background: #14532d;
  color: #d8f3dc;
  border: 2px solid #95d5b2;
}
h3:nth-of-type(6) {
  background: #5a189a;
  color: #ffd6ff;
  border: 2px solid #ff9de2;
}
img,
video {
  margin: 15px 15px 15px 0;
  border: 4px solid white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: 0.3s ease-in-out;
}
img:hover,
video:hover {
  transform: scale(1.03);
  border-color: gold;
}
p {
  background: rgba(255, 255, 255, 0.08);
  padding: 18px;
  margin: 20px 0 35px;
  border-radius: 12px;
  border: 2px solid rgba(0, 229, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  max-width: 1100px;
}
video {
  max-width: 100%;
}
